*{
    margin: 0%;
    padding: 0%;
}
body{
    background: #000000;
}
#navbar{
    z-index: 100;
    /* position: fixed; */
        overflow: hidden;
        bleed:top;
        width: 100%;
        
}
.movielab{
    margin-top: 10px;
    width: 59px;
    height: 66px;
}
.carrusel{
    width: 100%;
    height: 70%;
}
a{
    text-decoration: none;
    color:#000000;
}
a:hover{
    text-decoration: underline;
    color: aliceblue;
}

.imagefooter{
float:left;
}
.imgfooter{
 width: 50%;
 height: 50%;
}

footer{
width:100%;
background:whitesmoke;
}
.imgfooter{
width:10%;
height:10%;
}

.card{
    margin-top: 1%;
    box-align: center;
}
.peli{
    box-align: center;
    margin-top: 1%;
    flex-flow: row wrap;
    display: flex;
    justify-content: space-evenly;
}
footer{
     /* z-index: 100; */
    text-align: center;
  }
.groupLab{
    text-align: left; 
    color:white;

}    
.letter, .titulo {
    /* text-align: center; */
    color: white;
} 
.titulo{
    margin-top: 4%;
    text-align: center;
}

