*{
    margin: 0%;
    padding: 0%;
}
body{
    background: #000000;
}
#navbar{
    z-index: 100;
position: fixed;
    overflow: hidden;
    bleed:top;
    width: 100%;
        
}
.movielab{
    width: 10%;
    height: 10%;
}
.carrusel{
    width: 100%;
    height: 70%;
}
a{
    text-decoration: none;
    color:#000000;
}
a:hover{
    text-decoration: underline;
    color: aliceblue;
}

.imagefooter{
float:left;
}
.imgfooter{
 width: 50%;
 height: 50%;
}

footer{
width:100%;
background:#333333;
}
.imgfooter{
width:10%;
height:10%;
}

#card{
    box-align: center;
}
.peli{
    flex-flow: row wrap;
    display: flex;
    justify-content: space-evenly;
}
.letter{
    color: white;
}